<div class="container box mt2">
  <span class="title mb has-text-primary">Editar Usuário</span>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field mt">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "input is-rounded is-primary" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "input is-rounded is-primary" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(deixe em branco se não quiser alterar)</i>
      <%= f.password_field :password, autocomplete: "off", class: "input is-rounded is-primary" %>
      <% if @minimum_password_length %>
        
        <p class="help"><%= @minimum_password_length %> caracteres mínimos</p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input is-rounded is-primary" %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :current_password %> <i>(Precisamos da sua senha para atualizar os dados)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: "input is-rounded is-danger" %>
      <p class="help is-danger">Campo necessário</p>
    </div>

    <div class="actions has-text-centered">
      <button class="button is-primary is-rounded" type="submit" name="action">Atualizar</button>
    </div>
  <% end %>

  <hr>
  <div class="botoes is-flex">
    <%= link_to "Voltar", root_path, class: "button is-dark is-rounded btnicon" %>
    <%= button_to "Cancelar Conta", registration_path(resource_name), data: { confirm: "Vocẽ tem certeza?" }, method: :delete,  class: 'button is-danger is-rounded' %>
  </div>

</div>