<!DOCTYPE html>
<html>
  <head>
    <title>Amigo Secreto</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="site">

    <header>
      <%= render "shared/navbar" %>
    </header>

    <main class="site-content">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>

  </body>
</html>